* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
}

.flex {
  display: flex;
}

.flex_icon {
  display: flex;
}

.btn {
  background-color: #ff7d90;
  padding: 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ee7968;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.icon {
  border: 1px solid #ff7d90;
  padding: 15px;
  border-radius: 50%;
  background-color: #ff7d90;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.name {
  color: #ff7d90;
  text-align: center;
  text-transform: uppercase;
}
.name::before {
  margin: 0 10px 0 0;
  display: inline-block;
  content: "";
  border-top: 1px solid var(--e-global-color-primary);
  width: 60px;
  transform: translateY(-0.4rem);
}
.name::after {
  margin: 0 0 0 10px;
  display: inline-block;
  content: "";
  border-top: 1px solid var(--e-global-color-primary);
  width: 60px;
  transform: translateY(-0.4rem);
}

.title {
  font-size: 68px;
  text-align: center;
  text-transform: uppercase;
}

.titles {
  color: var(--e-global-color-secondary);
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.1em;
  text-align: center;
  margin-top: 15px;
}

.more {
  color: var(--e-global-color-primary);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}

:root {
  --e-global-color-primary: #ff7d90;
  --e-global-color-secondary: #1c2347;
  --e-global-color-text: #777777;
  --e-global-color-accent: #2f4fd0;
  --e-global-color-1f86ad6: #ffffff;
  --e-global-color-3aab81d: #000000;
  --e-global-color-9bed8f9: #f2f7fb;
  --e-global-color-f03f58e: #02010100;
  --e-global-color-2c6ecd4: #e6e6e6;
  --e-global-color-df0e136: #ee7968;
  --e-global-color-b92305c: #4f4f4f;
  --e-global-typography-font-family: "Barlow";
}

.fadeIn-bottom {
  animation: fadeInBottom ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadeIn-Right {
  animation: fadeInRight ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
