<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Vietnam Software Outsourcing services in Software Development, Software Testing, Porting & Migration, Production Support, IT Managed Services, UX/UI design"
    />
    <meta
      name="keywords"
      content="web development, mobile development, game development, software development"
    />
    <meta name="author" content="NCC Vietnam" />
    <meta name="geo.country" content="VN" />
    <meta name="geo.region" content="VN-Hanoi" />
    <meta
      name="geo.placename"
      content="Hanoi, Cau Giay District, Hanoi, Vietnam"
    />
    <meta name="geo.position" content="21.028170;105.782386" />
    <meta name="ICBM" content="21.028170;105.782386" />
    <meta http-equiv="cache-control" content="max-age=259200" />
    <meta name="DC.Language" content="en" />
    <meta http-equiv="content-language" content="en" />
    <meta name="copyright" content="Copyright (c) 2018 by NCC Vietnam" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="noodp" />
    <link rel="canonical" href="https://ncc.asia/" />
    <meta name="robots" content="index,follow,archive" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ncc.asia" />
    <meta name="twitter:creator" content="@ncc.asia" />
    <meta name="twitter:url" content="www.ncc.asia" />
    <meta name="twitter:title" content="Vietnam Software Development Company" />
    <meta
      name="twitter:description"
      content="NCC Vietnam offers professional software outsourcing services, software offshore development, mobile development and website design, all under one roof"
    />
    <meta
      name="google-site-verification"
      content="Mzn84zWOCoGEAuYnETuGFr2BQYt-npRDHuKWKYxAwFI"
    />
    <meta
      name="google-site-verification"
      content="Bgfz-6-WZpJEq7Fml8nhDJiVbXjCeanp_kEzx7IhBM8"
    />
    <meta name="msvalidate.01" content="C22D9205F1D1AD7F59EB8FF9E115C4DF" />
    <meta
      name="google-site-verification"
      content="Bgfz-6-WZpJEq7Fml8nhDJiVbXjCeanp_kEzx7IhBM8"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="vietnam outsourcing company" />
    <meta property="fb:app_id" content="1602025800070200" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="NCC Vietnam" />
    <meta
      property="og:image"
      content="https://www.ncc.asia/assets/images/logo/logo.png"
    />
    <meta property="og:site_name" content="NCC vietnam" />
    <meta
      property="og:description"
      content="NCC is a network of connected young and passionate software engineers, established as a software firm in Ha Noi, Viet Nam, founded by 4 experience and enthusiastic software engineers in September 2014."
    />
    <meta property="og:url" content="https://ncc.asia" />
    <meta property="og:url" content="https://www.ncc.asia" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/image/logo.png" type="image/png" />
    <title>Contact</title>
  </head>
  <body>
    <header class="header">
      <div class="header-left">
        <div
          class="header-title"
          style="display: flex; align-items: center; gap: 5px"
        >
          <img src="/image/logo.png" alt="logo-ncc" />
        </div>
        <div class="header-menu">
          <ul class="menu-content">
            <li class="menu-item">
              <a href="**">Home</a>
            </li>
            <li class="menu-item"><a href="/about">About</a></li>
            <li class="menu-item">
              <a href="#"
                ><span>Pages <i class="fa-solid fa-angle-down"></i></span
              ></a>
              <ul class="menu-dropdown">
                <li>
                  <a class="dropdown-item" href="/pages/service">SERVICE</a>
                </li>
                <li><a class="dropdown-item" href="/pages/team">TEAM</a></li>
                <li>
                  <a class="dropdown-item" href="/pages/casestudy"
                    >CASE STUDY</a
                  >
                </li>
              </ul>
            </li>
            <li class="menu-item" style="border-bottom: 1px solid #ff7d90">
              <a style="color: #ff7d90" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar_menu">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="header-right">
        <div class="header-button">
          <button class="header-btn" type="button">Get Quoatation</button>
        </div>
        <span class="nav-bar">
          <i
            id="openIcon"
            class="fa-solid fa-bars fa-xl"
            onclick="openSidebar()"
          ></i>
        </span>
      </div>
    </header>
    <div class="small_menu">
      <ul class="menu-content">
        <li class="menu-item">
          <a href="**">HOME</a>
        </li>
        <li class="menu-item">
          <a href="/about">ABOUT</a>
        </li>
        <li class="menu-item">
          <a href="#"
            ><span>PAGES <i class="fa-solid fa-angle-down"></i></span
          ></a>
          <ul class="menu-dropdown">
            <li>
              <a class="dropdown-item" href="/pages/service">SERVICE</a>
            </li>
            <li><a class="dropdown-item" href="/pages/team">TEAM</a></li>
            <li>
              <a class="dropdown-item" href="/pages/casestudy">CASE STUDY</a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a style="color: #ff7d90" href="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="sidebar" id="sidebar">
      <i
        id="closeIcon"
        class="fa-solid fa-xmark"
        onclick="closeSidebar()"
        style="font-size: 24px"
      ></i>
      <div class="wrapper">
        <p class="sidebar_header">Shevia</p>
        <p class="sidebar_desc">
          luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
        <p class="sidebar_name">Services</p>
        <ul>
          <li class="flex">
            <i class="fa-solid fa-check"></i>
            <p class="sidebar_item">Mobile Development</p>
          </li>
          <li class="flex">
            <i class="fa-solid fa-check"></i>
            <p class="sidebar_item">Web Development</p>
          </li>
          <li class="flex">
            <i class="fa-solid fa-check"></i>
            <p class="sidebar_item">Data Science</p>
          </li>
          <li class="flex">
            <i class="fa-solid fa-check"></i>
            <p class="sidebar_item">IoT Development</p>
          </li>
          <li class="flex">
            <i class="fa-solid fa-check"></i>
            <p class="sidebar_item">Enterprise Application</p>
          </li>
          <li class="flex">
            <i class="fa-solid fa-check"></i>
            <p class="sidebar_item">User Interfice Design</p>
          </li>
        </ul>
        <p class="sidebar_name">Follow Us</p>
        <ul class="flex">
          <li>
            <i class="icon fa-brands fa-facebook"></i
            ><a href="https://www.facebook.com/nccsoft.com.vn"></a>
          </li>
          <li>
            <i class="icon fa-brands fa-linkedin"></i
            ><a href="https://www.linkedin.com/company/nccsoft-vietnam/"></a>
          </li>
          <li>
            <i class="icon fa-brands fa-youtube"></i
            ><a
              href="https://www.youtube.com/channel/UChFpCEl2FP22M_BybYhWjnA/featured"
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section-container">
      <div class="section-1">
        <div class="container">
          <div class="section-1-content fadeIn-bottom">
            <span>our contact</span>
            <h1>Contact Us</h1>
          </div>
          <div class="section-1-img"></div>
        </div>
      </div>
      <div class="section-2">
        <div class="container">
          <div class="section-2-img reveal fade-bottom"></div>
          <div class="section-2-content reveal fade-bottom">
            <div class="container">
              <div class="contact-detail">
                <div class="title">
                  <span>get in touch</span>
                  <h2>Send us message</h2>
                </div>
                <div class="contact">
                  <input type="text" placeholder="Name" />
                  <input type="email" placeholder="Email" />
                </div>
                <input class="input" type="text" placeholder="Subject" />
                <textarea
                  class="message"
                  rows="4"
                  placeholder="Message"
                ></textarea>
                <div class="btn">SEND</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-3">
        <div class="head-title reveal fade-bottom">
          <span>contact us</span>
          <h1>HOTLINE: (+84) 24 6687 4606</h1>
          <p>EMAIL: <a href="#">info@ncc.asia</a></p>
        </div>
        <div class="address">
          <div class="address-content col reveal fade-bottom">
            <img src="/image/logo.png" alt="ncc-office" class="image" />
            <div class="middle">
              <h1>Head Office</h1>
              <h3>HA NOI 1</h3>
              <p>
                5th Floor, A2 Ecolife Building, 58 To Huu St., Nam Tu Liem
                Dist., Hanoi, Vietnam.
              </p>
            </div>
          </div>
          <div class="address-content col reveal fade-bottom">
            <img src="/image/logo.png" alt="ncc-office" class="image" />
            <div class="middle">
              <h3>HA NOI 2</h3>
              <p>7th Floor, 8 Pham Hung St., Cau Giay Dist., Hanoi, Vietnam.</p>
            </div>
          </div>
          <div class="address-content col reveal fade-bottom">
            <img src="/image/logo.png" alt="ncc-office" class="image" />
            <div class="middle">
              <h3>SAI GON 1</h3>
              <p>
                5th Floor, The Office, 340/15A Ung Van Khiem St., Binh Thanh
                Dist., HCMC, Vietnam.
              </p>
            </div>
          </div>
          <div class="address-content col reveal fade-bottom">
            <img src="/image/logo.png" alt="ncc-office" class="image" />
            <div class="middle">
              <h3>SAI GON 2</h3>
              <p>
                1th Floor, Phong Phu Tower, 93/10 Quang Trung, Kp1, Hiep Phu
                Ward, Thu Duc, HCMC, Vietnam.
              </p>
            </div>
          </div>
          <div class="address-content col reveal fade-bottom">
            <img src="/image/logo.png" alt="ncc-office" class="image" />
            <div class="middle">
              <h3>DA NANG</h3>
              <p>
                4th Floor, Ricco Building, 363 Nguyen Huu Tho St., Cam Le Dist.,
                Da Nang, Vietnam.
              </p>
            </div>
          </div>
          <div class="address-content col reveal fade-bottom">
            <img src="/image/logo.png" alt="ncc-office" class="image" />
            <div class="middle">
              <h3>VINH</h3>
              <p>
                4th Floor, 138 Ha Huy Tap St., Vinh City, Nghe An Province,
                Vietnam.
              </p>
            </div>
          </div>
          <div class="address-content col reveal fade-bottom">
            <img src="/image/logo.png" alt="ncc-office" class="image" />
            <div class="middle">
              <h3>QUY NHON</h3>
              <p>
                3th Floor, 307 Nguyen Thi Minh Khai St., Quy Nhon City, Binh
                Dinh Province, Vietnam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-top">
          <div class="wrapper_top">
            <div class="top-left">
              <img src="/image/logo.png" class="logo" />
              <p>We do<i style="color: red">&nbsp;it&nbsp;</i>with passion</p>
            </div>
            <div class="top-right">
              <div class="submit_subscribe">
                <input type="email" placeholder="Email" />
                <div class="btn">SUBSCRIBE</div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-middle flex">
          <div class="box">
            <div class="title">Company</div>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Vision & Mission</a></li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Outstandings</div>
            <ul>
              <li><a href="#">Service</a></li>
              <li><a href="#">Process</a></li>
              <li><a href="#">Case study</a></li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Follow Us</div>
            <ul>
              <li>
                <a href="https://www.facebook.com/nccsoft.com.vn">Facebook</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/nccsoft-vietnam/"
                  >Linkedin</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UChFpCEl2FP22M_BybYhWjnA/featured"
                  >Youtube</a
                >
              </li>
            </ul>
          </div>
          <div class="box grid reveal fade-bottom">
            <a href="#">
              <img src="/image/about-sec1.jpg" />
            </a>
            <a href="#">
              <img src="/image/contact-sec1.jpg" />
            </a>
            <a href="#">
              <img src="/image/service-sec1.jpg" />
            </a>
            <a href="#">
              <img src="/image/service-sec4.jpg" />
            </a>
            <a href="#">
              <img
                src="/image/team-sec1.jpg"
              />
            </a>
            <a href="#">
              <img src="/image/case-sec1.jpg" />
            </a>
          </div>
        </div>
        <hr />
        <div class="footer-bottom">
          <p>Copyright © 2022 Ncc.asia</p>
        </div>
      </div>
    </footer>
    <script src="/js/script.js"></script>
    <script>
      window.addEventListener("scroll", reveal);
    </script>
  </body>
</html>
