<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
    <!-- <header class="header flex">
        <div class="header_left">
            <h1>Shevia</h1>
        </div>
        <div class="header_middle">
            <ul class="menu flex">
                <li class="item"><a href="#">HOME</a></li>
                <li class="item"><a href="#">ABOUT</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">PAGES</a>
                    <div class="dropdown-content">
                        <a href="#">SERVICES</a>
                        <a href="#">TEAM</a>
                        <a href="#">CASE STUDY</a>
                        <a href="#">TESTIMONIALS</a>
                        <a href="#">SINGLE POST</a>
                        <a href="#">404</a>
                    </div>
                </li>
                <li class="item"><a href="#">BLOG</a></li>
                <li class="item"><a href="#">CONTACT</a></li>
            </ul>
        </div>
        <div class="header_right flex">
            <div class="btn">GET QUOATATION</div>
            <div class="header_right_icon">
                <i class="fa-solid fa-bars menu-icon"></i>
            </div>
        </div>
    </header> -->
    <!-- <div class="sidebar">
        <h1>Shevia.</h1>
        <div class="desc">luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
    </div> -->
    <div class="blog">
        <div class="container">
            <div class="top">
                <p class="blog_name">from our blog</p>
                <p class="title">News And Articles </p>
            </div>
            <div class="middle grid">
                <div class="box">
                    <img class="image" src="../image/blog1.jpg" alt="blog" />
                    <p class="name">Everything You Need To Know About Hiring Node.Js Developers</p>
                    <p class="desc">Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus.</p>
                    <p class="more">read more</p>
                </div>
                <div class="box">
                    <img class="image" src="../image/blog2.jpg" alt="blog" />
                    <p class="name">Everything You Need To Know About Hiring Node.Js Developers</p>
                    <p class="desc">Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus.</p>
                    <p class="more">read more</p>
                </div>
                <div class="box">
                    <img class="image" src="../image/blog3.jpg" alt="blog" />
                    <p class="name">Everything You Need To Know About Hiring Node.Js Developers</p>
                    <p class="desc">Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus.</p>
                    <p class="more">read more</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container flex">
            <div class="left">
                <p class="name">GET STARTED</p>
                <p class="title">Get Started & Tell Us About Your Requirements</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            </div>
            <div class="right">
                <div class="grid">
                    <input type="text" placeholder="Name" />
                    <input type="email" placeholder="Email" />
                </div>
                <input class="input" type="text" placeholder="Subject" />
                <textarea class="message" rows="4" placeholder="Message" ></textarea>
                <div class="btn">SEND</div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-top flex">
                <h1>Shevia.</h1>
                <p>Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="flex">
                    <input type="email" placeholder="Email" />
                    <div class="btn">SUBSCRIBE</div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="footer-middle flex">
                <div class="box">
                    <div class="title">Company</div>
                    <ul>
                        <li>About</li>
                        <li>Investor</li>
                        <li>Clients</li>
                        <li>Legal</li>
                    </ul>
                </div>
                <div class="box">
                    <div class="title">Useful Links</div>
                    <ul>
                        <li>News</li>
                        <li>Our Process</li>
                        <li>Team</li>
                        <li>Knowledbase</li>
                    </ul>
                </div>
                <div class="box">
                    <div class="title">Services</div>
                    <ul>
                        <li>Mobile Apps</li>
                        <li>Web Apps</li>
                        <li>Custom Applications</li>
                        <li>Digital Marketing</li>
                    </ul>
                </div>
                <div class="box">
                    <div class="title">Follow Us</div>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
                <div class="box grid">
                    <img src="../image/img_1.jpg" />
                    <img src="../image/img_2.jpg" />
                    <img src="../image/img_3.jpg" />
                    <img src="../image/img_4.jpg" />
                    <img src="../image/img_5.jpg" />
                    <img src="../image/img_6.jpg" />
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="footer-bottom">
                <p>Copyright © 2021 Envalab.com</p>
            </div>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>
</html>