<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/libs/owl-carousel/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <div class="header-left">
        <div class="header-title">
          <h3>Shevia.</h3>
        </div>
        <div class="header-menu">
          <ul class="menu-content">
            <li class="menu-item">
              <a href="#">Home</a>
            </li>
            <li class="menu-item"><a href="#">About</a></li>
            <li class="menu-item">
              <a href="#"
                ><span>Pages <i class="fa-solid fa-angle-down"></i></span
              ></a>
              <ul class="menu-dropdown">
                <li><a class="dropdown-item" href="#">Service</a></li>
                <li><a class="dropdown-item" href="#">Team</a></li>
                <li><a class="dropdown-item" href="#">Case Study</a></li>
                <li><a class="dropdown-item" href="#">Testimonials</a></li>
                <li><a class="dropdown-item" href="#">Single Post</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="header-right">
        <div class="header-button">
          <button class="header-btn" type="button">Get Quoatation</button>
        </div>
        <span class="nav-bar">
          <i class="fa-solid fa-bars fa-xl"></i>
        </span>
      </div>
    </header>
    <div class="section-1">
      <div class="top">
        <div class="container">
          <p class="name">shevia code</p>
          <h1 class="headline">
            <span class="headline_plain">Build Your</span>
            <span class="headline_dynamic">Custom Software</span>
            <span class="headline_plain">Or Digitalize Your Business</span>
          </h1>
          <p class="detail">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="bottom">
        <div class="image">
          <div class="overlay"></div>
          <div class="box">
            <div class="slide">
              <div class="owl-carousel slide2" id="slide2">
                <div class="wrapper">
                  <p class="slide_heading">Digital Disruption</p>
                  <p class="slide_desc">
                    Donec rutrum congue leo eget malesuada. Cras ultricies
                    ligula sed magna dictum porta
                  </p>
                  <div class="slide_btn">learn more</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="box_content">
          <span class="box_title">Mobile Development</span>
          <p class="desc">uctus nec ullamcorper</p>
        </div>
        <div class="box_content">
          <span class="box_title">Web Development</span>
          <p class="desc">Ut elit tellus, luctus nec</p>
        </div>
        <div class="box_content">
          <span class="box_title">IT Consulting</span>
          <p class="desc">Ut elit tellus, luctus nec</p>
        </div>
        <div class="box_content">
          <span class="box_title">Product Design</span>
          <p class="desc">uctus nec ullamcorper</p>
        </div>
      </div>
    </div>

    <div class="out_industries">
      <div class="container">
        <div class="flex" style="justify-content: space-around">
          <div class="left">
            <div class="wrapper flex">
              <div class="box">
                <p class="name">Contructions</p>
                <p class="desc">
                  Massa delectus donec quas condimentum a recusandae congue
                  nascetur
                </p>
              </div>
              <div class="box">
                <p class="name">Healthcare</p>
                <p class="desc">
                  Massa delectus donec quas condimentum a recusandae congue
                  nascetur
                </p>
              </div>
            </div>
            <div class="wrapper flex">
              <div class="box">
                <p class="name">Insurance</p>
                <p class="desc">
                  Massa delectus donec quas condimentum a recusandae congue
                  nascetur
                </p>
              </div>
              <div class="box">
                <p class="name">Ecommerce</p>
                <p class="desc">
                  Massa delectus donec quas condimentum a recusandae congue
                  nascetur
                </p>
              </div>
            </div>
            <div class="wrapper flex">
              <div class="box">
                <p class="name">Hospitality</p>
                <p class="desc">
                  Massa delectus donec quas condimentum a recusandae congue
                  nascetur
                </p>
              </div>
              <div class="box">
                <p class="name">Entertainment</p>
                <p class="desc">
                  Massa delectus donec quas condimentum a recusandae congue
                  nascetur
                </p>
              </div>
            </div>
          </div>
          <div class="right">
            <p class="title">our industries</p>
            <p class="name_industries">Software Solutions For Big Industries</p>
            <div class="flex" style="justify-content: space-between">
              <div class="flex">
                <i class="icon fa-solid fa-gear"></i>
                <div>
                  <p class="number">250+</p>
                  <p class="detail">Project done</p>
                </div>
              </div>
              <div class="flex">
                <i class="icon fa-solid fa-people-group"></i>
                <div>
                  <p class="number">300+</p>
                  <p class="detail">Programmers</p>
                </div>
              </div>
            </div>
            <p class="desc">
              Donec id elit non mi porta gravida at eget metus. Nulla vitae elit
              libero, a pharetra augue. Morbi leo risus, porta ac consectetur
              ac,
            </p>
            <div class="btn">
              <div class="flex">
                <i class="fa-solid fa-arrow-right"></i>
                <p>learn more</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reason">
      <div class="wrapper flex">
        <img src="../image/img_4.jpg" />
        <div class="box">
          <p class="title">why choose us?</p>
          <p class="introduct">
            We Create Powerful Softwares and Digital Solutions That Drive
            Meaningful
          </p>
          <div class="list_reason">
            <div class="item flex">
              <i class="fa-solid fa-check"></i>
              <p>Advanced technologies</p>
            </div>
            <div class="item flex">
              <i class="fa-solid fa-check"></i>
              <p>Cutting-edge solutions</p>
            </div>
            <div class="item flex">
              <i class="fa-solid fa-check"></i>
              <p>International Standards</p>
            </div>
            <div class="item flex">
              <i class="fa-solid fa-check"></i>
              <p>Professional experience</p>
            </div>
            <div class="item flex">
              <i class="fa-solid fa-check"></i>
              <p>Considerable commitment</p>
            </div>
            <div class="item flex">
              <i class="fa-solid fa-check"></i>
              <p>Reasonable cost</p>
            </div>
          </div>
          <div class="btn">
            <div class="flex">
              <i class="fa-solid fa-arrow-right"></i>
              <p>read more</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site_slide">
      <div class="owl-carousel slide1" id="slide1">
        <div class="slide">
          <img src="/image/Logo-1.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-2.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-5.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-6.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-1.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-2.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-5.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-6.png" alt="" />
        </div>
        <div class="slide">
          <img src="/image/Logo-7.png" alt="" />
        </div>
      </div>
    </div>
    <div class="our_service">
      <div class="container">
        <div class="flex">
          <div class="left">
            <p class="name">our services</p>
            <p class="title">Build Your Custom Software For Your Business</p>
            <p class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
            <div class="btn">
              <div class="flex">
                <i class="fa-solid fa-arrow-right"></i>
                <p>get started</p>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="box">
              <div class="flex">
                <i class="icon fa-solid fa-mobile-screen"></i>
                <p class="item_name">Mobile Development</p>
              </div>
              <p class="detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <div class="flex wrapper">
                <i class="fa-solid fa-arrow-right"></i>
                <p class="more">learn more</p>
              </div>
            </div>
            <div class="box">
              <div class="flex">
                <i class="icon fa-solid fa-mobile-screen"></i>
                <p class="item_name">Product Engineering</p>
              </div>
              <p class="detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <div class="flex wrapper">
                <i class="fa-solid fa-arrow-right"></i>
                <p class="more">learn more</p>
              </div>
            </div>
            <div class="box">
              <div class="flex">
                <i class="icon fa-solid fa-mobile-screen"></i>
                <p class="item_name">IT Consulting</p>
              </div>
              <p class="detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <div class="flex wrapper">
                <i class="fa-solid fa-arrow-right"></i>
                <p class="more">learn more</p>
              </div>
            </div>
            <div class="box">
              <div class="flex">
                <i class="icon fa-solid fa-mobile-screen"></i>
                <p class="item_name">Dedicated Developers</p>
              </div>
              <p class="detail">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </p>
              <div class="flex wrapper">
                <i class="fa-solid fa-arrow-right"></i>
                <p class="more">learn more</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image">
      <div class="grid">
        <div class="project">
          <p class="number">250+</p>
          <p class="name">Project Completed</p>
          <p class="desc">Vivamus magna justo, lacinia eget consectetur sed</p>
        </div>
        <div class="clients">
          <p class="number">80+</p>
          <p class="name">Clients Served</p>
          <p class="desc">Vivamus magna justo, lacinia eget consectetur sed</p>
        </div>
        <div class="loyal">
          <p class="number">80%</p>
          <p class="name">Loyal Clients</p>
          <p class="desc">Vivamus magna justo, lacinia eget consectetur sed</p>
        </div>
      </div>
    </div>
    <div class="team">
      <div class="container flex">
        <div class="left">
          <p class="name">the teams</p>
          <p class="title">Meet Awesome Team</p>
          <p class="desc">
            From a team of four dedicated and enthusiastic engineer…..
          </p>
          <div class="btn">
            <div class="flex">
              <i class="fa-solid fa-arrow-right"></i>
              <p>see all team</p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="grid">
            <div class="box">
              <div class="img">
                <div class="overlay">
                  <div class="wrapper">
                    <p class="name_leader">Alex Telles</p>
                    <p class="position">CEO / FOUNDER</p>
                  </div>
                </div>
                <div class="content">
                  <p class="name_leader">Nhan Nguyen Tran</p>
                  <p class="contens">
                    Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Donec velit neque, auctor
                    sit amet aliquam vel, ullamcorper sit amet ligula.
                  </p>
                  <p class="contact">FB - TW - IG</p>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <div class="overlay">
                  <div class="wrapper">
                    <p class="name_leader">Alex Telles</p>
                    <p class="position">CEO / FOUNDER</p>
                  </div>
                </div>
                <div class="content">
                  <p class="name_leader">Nhan Nguyen Tran</p>
                  <p class="contens">
                    Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Donec velit neque, auctor
                    sit amet aliquam vel, ullamcorper sit amet ligula.
                  </p>
                  <p class="contact">FB - TW - IG</p>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <div class="overlay">
                  <div class="wrapper">
                    <p class="name_leader">Alex Telles</p>
                    <p class="position">CEO / FOUNDER</p>
                  </div>
                </div>
                <div class="content">
                  <p class="name_leader">Nhan Nguyen Tran</p>
                  <p class="contens">
                    Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Donec velit neque, auctor
                    sit amet aliquam vel, ullamcorper sit amet ligula.
                  </p>
                  <p class="contact">FB - TW - IG</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="our_process">
      <div class="container">
        <div class="top">
          <p class="name">our process</p>
          <p class="title">We Build Your Enterprise Web & Mobile Apps</p>
        </div>
        <div class="grid" style="padding-top: 15px">
          <div class="box">
            <i class="icon-first fa-regular fa-envelope"></i>
            <p class="box_name">Business Enquiry</p>
            <p class="detail">
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Vivamus magna justo
            </p>
          </div>
          <div class="box">
            <i class="icon fa-regular fa-paper-plane"></i>
            <p class="box_name">Sprint Zero</p>
            <p class="detail">
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Vivamus magna justo
            </p>
          </div>
          <div class="box">
            <i class="icon fa-solid fa-rocket"></i>
            <p class="box_name">Development</p>
            <p class="detail">
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Vivamus magna justo
            </p>
          </div>
          <div class="box">
            <i class="icon fa-regular fa-paper-plane"></i>
            <p class="box_name">Support Development</p>
            <p class="detail">
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Vivamus magna justo
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="container flex">
        <div class="left">
          <div class="flex">
            <p class="name">GET STARTED</p>
          </div>
          <p class="title">Get Started & Tell Us About Your Requirements</p>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
        <div class="right">
          <div class="grid">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
          </div>
          <input class="input" type="text" placeholder="Subject" />
          <textarea class="message" rows="4" placeholder="Message"></textarea>
          <div class="btn">SEND</div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-top flex">
          <h1>Shevia.</h1>
          <p>
            Utenim ad minim veniam quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
          <div class="flex">
            <input type="email" placeholder="Email" />
            <div class="btn">SUBSCRIBE</div>
          </div>
        </div>
      </div>
      <hr />
      <div class="container">
        <div class="footer-middle flex">
          <div class="box">
            <div class="title">Company</div>
            <ul>
              <li>About</li>
              <li>Investor</li>
              <li>Clients</li>
              <li>Legal</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Useful Links</div>
            <ul>
              <li>News</li>
              <li>Our Process</li>
              <li>Team</li>
              <li>Knowledbase</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Services</div>
            <ul>
              <li>Mobile Apps</li>
              <li>Web Apps</li>
              <li>Custom Applications</li>
              <li>Digital Marketing</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Follow Us</div>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
          </div>
          <div class="box grid">
            <a href="#">
              <img src="/image/img_1.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_2.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_3.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_4.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_5.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_6.jpg" />
            </a>
          </div>
        </div>
        <hr />
      </div>

      <div class="container">
        <div class="footer-bottom">
          <p>Copyright © 2021 Envalab.com</p>
        </div>
      </div>
    </footer>
    <script src="/libs/jquery/jquery/jquery-3.2.1.min.js"></script>
    <script src="/libs/owl-carousel/owl.carousel.min.js"></script>
    <script>
      $(".slide2").owlCarousel({
        loop: true,
        margin: 10,
        items: 1,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: true,
          },
        },
      });
    </script>
    <script>
      $(".slide1").owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: true,
          },
          600: {
            items: 3,
            nav: false,
          },
        },
      });
    </script>
  </body>
</html>
