<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/libs/owl-carousel/owl.carousel.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/team.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <title>NCC - Team - Welcome to Shevia</title>
  </head>
  <body>
    <header class="header">
      <div class="header-left">
        <div class="header-title">
          <h3>NCC Soft</h3>
        </div>
        <div class="header-menu">
          <ul class="menu-content">
            <li class="menu-item">
              <a href="#">Home</a>
            </li>
            <li class="menu-item"><a href="#">About</a></li>
            <li class="menu-item">
              <a href="#"
                ><span>Pages <i class="fa-solid fa-angle-down"></i></span
              ></a>
              <ul class="menu-dropdown">
                <li><a class="dropdown-item" href="#">Service</a></li>
                <li><a class="dropdown-item" href="#">Team</a></li>
                <li><a class="dropdown-item" href="#">Case Study</a></li>
                <li><a class="dropdown-item" href="#">Testimonials</a></li>
                <li><a class="dropdown-item" href="#">Single Post</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="header-right">
        <div class="header-button">
          <button class="header-btn" type="button">Get Quoatation</button>
        </div>
        <span class="nav-bar">
          <i class="fa-solid fa-bars fa-xl"></i>
        </span>
      </div>
    </header>
    <div class="section-container">
      <div class="section-1">
        <div class="container">
          <div class="section-1-content">
            <span>QUISQUE VELIT</span>
            <h1>Team</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
          </div>
          <div class="section-1-img"></div>
        </div>
      </div>
      <div class="section-2">
        <div class="section-2-content">
          <span>The Teams</span>
          <h1>Meet awesome team</h1>
        </div>
        <div class="section-2-detail">
          <div class="detail-content">
            <div class="grid">
              <div class="box">
                <div class="img">
                  <div class="overlay">
                    <div class="wrapper">
                      <p class="name_leader">Nhan Nguyen Tran</p>
                      <p class="position">CEO / FOUNDER</p>
                    </div>
                  </div>
                  <div class="content">
                    <p class="contents">
                      Vestibulum ante ipsum primis in faucibus orci luctus et
                      ultrices posuere cubilia Curae; Donec velit neque, auctor
                      sit amet aliquam vel, ullamcorper sit amet ligula.
                    </p>
                    <p class="contact">FB - TW - IG</p>
                  </div>
                  <div class=""></div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <div class="overlay">
                    <div class="wrapper">
                      <p class="name_leader">Nhan Nguyen Tran</p>
                      <p class="position">CEO / FOUNDER</p>
                    </div>
                  </div>
                  <div class="content">
                    <p class="contents">
                      Vestibulum ante ipsum primis in faucibus orci luctus et
                      ultrices posuere cubilia Curae; Donec velit neque, auctor
                      sit amet aliquam vel, ullamcorper sit amet ligula.
                    </p>
                    <p class="contact">FB - TW - IG</p>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <div class="overlay">
                    <div class="wrapper">
                      <p class="name_leader">Nhan Nguyen Tran</p>                      
                      <p class="position">CEO / FOUNDER</p>
                    </div>
                  </div>
                  <div class="content">
                    
                    <p class="contents">
                      Vestibulum ante ipsum primis in faucibus orci luctus et
                      ultrices posuere cubilia Curae; Donec velit neque, auctor
                      sit amet aliquam vel, ullamcorper sit amet ligula.
                    </p>
                    <p class="contact">FB - TW - IG</p>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="img">
                  <div class="overlay">
                    <div class="wrapper">
                      <p class="name_leader">Nhan Nguyen Tran</p>
                      <p class="position">CEO / FOUNDER</p>
                    </div>
                  </div>
                  <div class="content">
                    
                    <p class="contens">
                      Vestibulum ante ipsum primis in faucibus orci luctus et
                      ultrices posuere cubilia Curae; Donec velit neque, auctor
                      sit amet aliquam vel, ullamcorper sit amet ligula.
                    </p>
                    <p class="contact">FB - TW - IG</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-top">
          <h1>Shevia.</h1>
          <p>
            Utenim ad minim veniam quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
          <div class="flex">
            <input type="email" placeholder="Email" />
            <div class="btn">SUBSCRIBE</div>
          </div>
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="footer-middle flex">
          <div class="box">
            <div class="title">Company</div>
            <ul>
              <li>About</li>
              <li>Investor</li>
              <li>Clients</li>
              <li>Legal</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Useful Links</div>
            <ul>
              <li>News</li>
              <li>Our Process</li>
              <li>Team</li>
              <li>Knowledbase</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Services</div>
            <ul>
              <li>Mobile Apps</li>
              <li>Web Apps</li>
              <li>Custom Applications</li>
              <li>Digital Marketing</li>
            </ul>
          </div>
          <div class="box">
            <div class="title">Follow Us</div>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
          </div>
          <div class="box grid">
            <a href="#">
              <img src="/image/img_1.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_2.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_3.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_4.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_5.jpg" />
            </a>
            <a href="#">
              <img src="/image/img_6.jpg" />
            </a>
          </div>
        </div>
      </div>
      <hr />
      <div class="container">
        <div class="footer-bottom">
          <p>Copyright © 2021 Envalab.com</p>
        </div>
      </div>
    </footer>
    
  </body>
</html>
